@model ProyectoPrograAvanzada.Entidades.Usuarios

@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<div class="logo text-center">
    <h1>Stay Smart</h1>
</div>
<div class="wrapper">
    <div class="inner-warpper text-center">
        <h2 class="title mb-4">Registrase!</h2>
        @using (Html.BeginForm("Registro", "Inicio", FormMethod.Post))
        {
            <div class="form-group">
                @Html.TextBoxFor(m => m.nombre, new { @class = "form-control form-control-user", @placeholder = "Nombre", @required = "true" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.correo_electronico, new { @class = "form-control form-control-user", @placeholder = "Correo", @required = "true" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.contrasena, new { @class = "form-control form-control-user", @placeholder = "Contraseña",  @required = "true" })
            </div>
            

            <input type="submit" class="btn btn-primary btn-user btn-block" value="Registrar">
        }
    </div>
    <div class="signup-wrapper text-center">
        <a href=""> <span class="text-primary">@Html.ActionLink("Iniciar Sesión", "InicioSesion", "Inicio", new { area = "" }, new { @class = "nav-link" })</span></a>
    </div>
</div>



